*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

#app{
    height: 100vh;
    position: relative;
}

.top{
    background-color: #01BFA5;
    height: 122px;
}

.bottom{
    background-color: rgb(179, 178, 178);
    height: calc(100vh - 122px);
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90vh;
    display: flex;
}

.left{
    height: 90vh;
    width: 280px;
    /* background-color: black; */
    display: inline-block;
    border-right: 1px solid rgb(143, 141, 141);
}

.right{
    height: 90vh;
    width: calc(100% - 250px);
    /* background-color: blanchedalmond; */
    display: inline-block;
}

.myUser{
    height: 70px;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.info, .icons{
    display: flex;
    align-items: center;
}

.fa-ellipsis-v{
    padding: 10px 15px !important;
}


.icons i, .lens i{
    opacity: 0.5;
    padding: 10px;
    border-radius: 20px;
    min-width: 25px;
}

.icons i{
    margin-left: 3px;
}


.icons i:hover, .lens i:hover{
    background-color: rgb(216, 213, 213);
    cursor: pointer;
}


.photo, .photo img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.name{
    margin-left: 5px;
}

.persona{
    padding: 10px;
    border-bottom: 1px solid rgb(204, 203, 203);
}

.persona:hover{
    background-color: rgb(221, 220, 220);
    cursor: pointer;
}




.contacts{
    height: calc(90vh - 70px);
    background-color: white;
    overflow: scroll;
}

.contacts::-webkit-scrollbar {
    display: none;
}

.searchContacts{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(179, 178, 178);
}

.inputContact{
    width: 90%;
    height: 33px;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 10px;
    padding: 5px;
}


.lens{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 25px;
    margin-right: 5px;
}



.user{
    height: 70px;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.read{
    display: flex;
    flex-direction: column;
}

.access{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
    color: grey;
}

.chat{
    height: calc(90vh - 130px);
    background-image: url('img/sfondo.png');
    overflow: scroll;
    padding: 30px 50px 0px 50px;
    position: relative;
}

.chat::-webkit-scrollbar {
    display: none;
}

.sent, .received{
    min-height: 40px;
    min-width: 500px;
    display: flex;
    margin-bottom: 10px;
}

.sent{
    justify-content: end;
}

.received{
    justify-content: start;
}

.messagesent{
    background-color: rgb(209, 252, 144);
}

.messagereceived{
    background-color: white;
}

.messagereceived, .messagesent{
    padding: 10px 15px;
    min-width: 100px;
    max-width: 500px;
    border-radius: 15px;
}

.time{
    font-size: 10px;
    color: grey;
    text-align: end;
}

.name{
    display: flex;
    justify-content: space-between;
}

p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.spec{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 300px;
}

.mess{
    margin-left: 5px;
    font-size: 13px;
    color: grey;
    max-width: 190px;
    max-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input{
    height: 60px;
    background-color: rgb(230, 227, 227);
    padding: 10px;
    display: flex;
    align-items: center;
}

.emoji, .mic{
    height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 25px;
    width: 60px;
}



.emoji i, .mic i{
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
}

.emoji i{
    margin-right: 5px;
    margin-bottom: 10px;
    opacity: 0.5;
}

.mic i{
    margin-left: 5px;
    padding: 5px 8px;
    opacity: 0.5;
}

.emoji i:hover, .mic i:hover{
    background-color: rgb(199, 196, 196);
    cursor: pointer;
}

.inputText{
    width: 95%;
    height: 40px;
    border: 0;
    padding: 10px;
    border-radius: 15px;
}
